body {
  box-sizing: border-box;
  background-color: crimson;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}

.reservation-time__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reservation-time__item {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.no-reservations {
  font-size: 2rem;
  color: white;
}

.no-reservations span {
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 0.1rem;
}
