body {
  background-color: crimson;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
}

.reservation-time-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reservation-time-item {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.status-image {
  width: 800px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
